/* navber-desing*/

.navber{
    width: 1140px;
    height: 70px;
    margin: 0% auto;
    justify-content: space-between;
    align-items: center;
    
}
 .display-flex{
    display: flex;
 
 }
 .nav-items{
    list-style:none;
    
    
 }
 .nav-link{
    text-decoration: none;
    color: lightslategray;
 }
 .nav-links{
    gap: 20px;
    justify-content: center;

 }
 .nav-2h{
   text-decoration: none;
   color: black;
   font-size: 1.2rem;
   margin: 0 auto;
 }
 /* description-desing */
 .description{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 120px;
    align-items: center;
    
    
 }
 .d-title{
    font-size: 3.20rem ;
 }
 .fresh{
    color: chocolate;
 }
 .caption{
    color: lightgrey;
    font-size:1.86rem;
    
 }

/* product-desing */
.product{
    width: 1140px;
    height: 1185px;
    justify-content: center;
    margin: 0 auto;
}

 .p-caption{
    color: lightgrey;
    font-size:1.50rem;
    

 }
 .p-paragraph{
    text-align: center;
 }
 .btn{
   
   background-color: rgba(233, 90, 8, 1);
   padding: 15px 80px;
   font-size: 1.08em;
  
   
 }
.card{
  text-align: center;
}
.lily{
    font-size: 1.15em;
}
.p-card{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    /* column-gap: 10px; */

    /* gap: 30px; */
    height: auto;
    justify-content: center;
}
/* Flower & Plants Lover */

.plants-lover{
   display: flex;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   margin-top: 210px;
   gap: 20px;
}
.l-caption{
   width: 540px;
   
}
.f-caption{
   font-size: 3.08rem;
}
.l-caption ul{
   gap: 15px;
}

/* search-bar container */

.search-container{
   background-image: url(assets/news-letter-bg.png);
   background-size: cover;
   background-repeat: 0;
   width: 100%;
   height: 535px;
   margin: 0 auto;
   justify-content: center;
   margin-top: 120px;
}
.suscrib-btn{
   padding: 5px;
   background-color: rgba(233, 90, 8, 1);
   border: 0;
   color: aliceblue;
   width: 180px;
   height: 50px;
}
.email-section{
   margin: 0 auto;
   justify-content: center;
   align-items: center;

}
.email-bar{
   padding: 5px;
   height: 40px;
   width: 620px;
 
   border: 0;
}
